<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title slot="center">
      Active la alarma

    </ion-title>

    <ion-item (click)="singOut()" slot="end">
      <ion-icon name="enter-outline"></ion-icon>
    </ion-item>

  </ion-toolbar>
</ion-header>
<ion-content [fullscreen]="true">

  <ion-content [fullscreen]="true">

    <button shape="round" class={{clase}} (click)="onClick()">{{textoBoton}} </button>
    <!--

  <ion-item>
    <ion-label>X orientation</ion-label>
    <ion-input type="text" [(ngModel)]="xOrient"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label>Y orientation</ion-label>
    <ion-input type="text" [(ngModel)]="yOrient"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label>Z orientation</ion-label>
    <ion-input type="text" [(ngModel)]="zOrient"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label>Time Stamp</ion-label>
    <ion-input type="text" [(ngModel)]="timestamp"></ion-input>
  </ion-item>

  <ion-button (click)="gyrascope()" full>click</ion-button>

  <ion-item>
    <ion-label>Acceleration X</ion-label>
    <ion-input type="text" [(ngModel)]="accX"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label>Acceleration Y</ion-label>
    <ion-input type="text" [(ngModel)]="accY"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label>Acceleration Z</ion-label>
    <ion-input type="text" [(ngModel)]="accZ"></ion-input>
  </ion-item>
  <ion-button (click)="Accelerometer()" full>click</ion-button>
-->
  </ion-content>