.fondo {
    --background: #ebccfd;
}
.img {
    border-top-width: 2px;
}

ion-toolbar {
    --ion-background-color: #300475;

    --ion-toolbar-color: #ffffff;
    --color: #ffffff;
}
ion-title {
    --ion-background-color: #300475;

    --ion-toolbar-color: #ffffff;
    --color: #ffffff;
}
