ion-content {
    --background: url("/../assets/img/fondo.png") 0 0/50% 50% repeat;

    --ion-background-color: rgb(255, 218, 107);
    // --ion-background-color: linear-gradient(0deg, rgba(255,218,107,1) 0%, rgba(234,237,143,1) 100%);
}

ion-toolbar {
    --ion-background-color: hsl(34, 100%, 60%);
    display: flex;
    align-items: flex-start;
    --ion-toolbar-color: #ffffff;
}

ion-icon {
    font-size: 30px;
}
ion-title {
    margin-left: 20px;
}

.botonLindo {
    border: 10px solid #bdbdbd;
    background-color: #8dd9fc;
    width: 90%;
    height: 150px;
    margin-top: 20px;
    margin-left: 5%;
    text-align: center;
}
.botonFeo {
    border: 10px solid #bdbdbd;
    width: 90%;
    height: 150px;
    margin: auto;
    margin-top: 30px;
    background-color: #96f1c7;
    text-align: center;
}

.botonGrafico {
    border: 10px solid #bdbdbd;
    width: 90%;
    height: 150px;
    margin: auto;
    margin-top: 30px;
    background-color: #eff196;
    text-align: center;
}
h2 {
    margin-top: 5px;

    text-align: center;
    font-size: 40px;
    color: #342d99;
    font-family: "Modak", cursive;
    text-shadow: 2px 0 0 #fff, -2px 0 0 #fff, 0 2px 0 #fff, 0 -2px 0 #fff, 1px 1px #fff, -1px -1px 0 #fff,
        1px -1px 0 #fff, -1px 1px 0 #fff;
}
ion-icon {
    font-size: 30px;
    color: #ffffff;
}

@keyframes ldio-5tpgiys2ol {
    0% {
        transform: rotate(0);
    }
    100% {
        transform: rotate(360deg);
    }
}
.ldio-5tpgiys2ol div {
    box-sizing: border-box !important;
}
.ldio-5tpgiys2ol > div {
    position: absolute;
    width: 144px;
    height: 144px;
    top: 28px;
    left: 28px;
    border-radius: 50%;
    border: 16px solid #000;
    border-color: #3be8b0 transparent #3be8b0 transparent;
    animation: ldio-5tpgiys2ol 1s linear infinite;
}

.ldio-5tpgiys2ol > div:nth-child(2),
.ldio-5tpgiys2ol > div:nth-child(4) {
    width: 108px;
    height: 108px;
    top: 46px;
    left: 46px;
    animation: ldio-5tpgiys2ol 1s linear infinite reverse;
}
.ldio-5tpgiys2ol > div:nth-child(2) {
    border-color: transparent #1aafd0 transparent #1aafd0;
}
.ldio-5tpgiys2ol > div:nth-child(3) {
    border-color: transparent;
}
.ldio-5tpgiys2ol > div:nth-child(3) div {
    position: absolute;
    width: 100%;
    height: 100%;
    transform: rotate(45deg);
}
.ldio-5tpgiys2ol > div:nth-child(3) div:before,
.ldio-5tpgiys2ol > div:nth-child(3) div:after {
    content: "";
    display: block;
    position: absolute;
    width: 16px;
    height: 16px;
    top: -16px;
    left: 48px;
    background: #3be8b0;
    border-radius: 50%;
    box-shadow: 0 128px 0 0 #3be8b0;
}
.ldio-5tpgiys2ol > div:nth-child(3) div:after {
    left: -16px;
    top: 48px;
    box-shadow: 128px 0 0 0 #3be8b0;
}

.ldio-5tpgiys2ol > div:nth-child(4) {
    border-color: transparent;
}
.ldio-5tpgiys2ol > div:nth-child(4) div {
    position: absolute;
    width: 100%;
    height: 100%;
    transform: rotate(45deg);
}
.ldio-5tpgiys2ol > div:nth-child(4) div:before,
.ldio-5tpgiys2ol > div:nth-child(4) div:after {
    content: "";
    display: block;
    position: absolute;
    width: 16px;
    height: 16px;
    top: -16px;
    left: 30px;
    background: #1aafd0;
    border-radius: 50%;
    box-shadow: 0 92px 0 0 #1aafd0;
}
.ldio-5tpgiys2ol > div:nth-child(4) div:after {
    left: -16px;
    top: 30px;
    box-shadow: 92px 0 0 0 #1aafd0;
}
.loadingio-spinner-double-ring-m0lnt1iaggc {
    width: 200px;
    height: 200px;
    display: inline-block;
    overflow: hidden;
    background: #f1f2f3;
}
.ldio-5tpgiys2ol {
    width: 100%;
    height: 100%;
    position: relative;
    transform: translateZ(0) scale(1);
    backface-visibility: hidden;
    transform-origin: 0 0; /* see note above */
}
.ldio-5tpgiys2ol div {
    box-sizing: content-box;
}
/* generated by https://loading.io/ */
